{% extends 'base.html' %}
{% load static %}

{% block extraHead %}
{#    <script src="{% static 'js/slider.js' %}"></script>#}
    <link rel="stylesheet" href="{% static 'css/comics.css' %}">
{% endblock extraHead %}

{% block mainContent %}
    <div class="row justify-content-around">
    <div class="d-flex align-items-center flex-column mb-3 Comics">
        <img class="p-6" src={% static 'images/batman.svg' %} alt="">
        <p class="p-2">Batman: Mascara do Morcego</p>
        <div class="d-flex justify-content-between PriceDetails ">
            <p class=" Price" >R$ 15,90</p>
            <p class="" >Details</p>
            <a href="{% url 'details_cart'%}" id="details_cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  fill="red" class="bi bi-cart2" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
              </svg>
            </a>
        </div>
    </div>
    <div class="d-flex align-items-center flex-column mb-3 Comics">
        <img class="p-6" src={% static 'images/batman.svg' %} alt="">
        <p class="p-2">Batman: Mascara do Morcego</p>
        <div class="d-flex justify-content-between PriceDetails ">
            <p class=" Price" >R$ 15,90</p>
            <p class="" >Details</p>
            <a href="{% url 'details_cart'%}" id="details_cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  fill="red" class="bi bi-cart2" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
              </svg>
            </a>
        </div>
    </div>
    <div class="d-flex align-items-center flex-column mb-3 Comics">
        <img class="p-6" src={% static 'images/batman.svg' %} alt="">
        <p class="p-2">Batman: Mascara do Morcego</p>
        <div class="d-flex justify-content-between PriceDetails ">
            <p class=" Price" >R$ 15,90</p>
            <p class="" >Details</p>
            <a href="{% url 'details_cart'%}" id="details_cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  fill="red" class="bi bi-cart2" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
              </svg>
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center flex-column mb-3 Comics">
        <img class="p-6 " src={% static 'images/batman.svg' %} alt="">
        <p class="p-2">Batman: Mascara do Morcego</p>
        <div class="d-flex justify-content-between PriceDetails ">
            <p class=" Price" >R$ 15,90</p>
            <p class="" >Details</p>
            <a href="{% url 'details_cart'%}" id="details_cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  fill="red" class="bi bi-cart2" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
              </svg>
            </a>

        </div>
    </div>


    </div>
{% endblock mainContent %}
