{% extends 'base.html' %}
{% load static %}

{% block extraHead %}
 <link rel="stylesheet" href="{% static 'css/details_cart.css' %}">
{% endblock extraHead %}

{% block mainContent %}

    <div class="h-100 d-flex align-items-center justify-content-center mt-10">
        <div >
            <div class="d-flex justify-content-between">
                <svg class="h-8 w-8 text-stone-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
                </svg>

                    <h1 class="fw-bold">CHANGE TITLE SELECTED</h1>
                <svg class="h-8 w-8 text-stone-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"/>
                </svg>

            </div>
            <img class="p-6" src={% static 'images/batman.svg' %} alt="">
        </div>
        <div>
             <div>
                <div class="d-flex justify-content-between"> <h1 class="fw-bold"> Batman </h1> <svg class="h-8 w-8 text-red-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="4" y1="7" x2="20" y2="7" />  <line x1="10" y1="11" x2="10" y2="17" />  <line x1="14" y1="11" x2="14" y2="17" />  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg></div>
                <div class="grid gap-0 row-gap-1">
                    <p class="fw-bold">Publisher:<span id="publisher"></span></p>
                    <p class="fw-bold">Year:<span id="year"></span></p>
                    <p class="fw-bold">Spine:<span id="spine"></span></p>
                    <p class="fw-bold">Color:<span id="color"></span></p>
                    <p class="fw-bold">Cover:<span id="cover"></span></p>
                    <p class="fw-bold">Format:<span id="format"></span></p>
                    <p class="fw-bold">Description:<span id="description"></span></p>
                </div>
            </div>
            <div class="grid gap-0 row-gap-1">
                <p class="fw-bold mt-4">Amout: <span></span></p>
                <p class="fw-bold">Quantity: <span></span></p>
            </div>
            <div>
                <button class="btn btn-warning">BUY ONLY THIS ONLY</button>
                <button class="btn btn-warning">ADD MORE ITEMS</button>
                <button class="btn btn-warning">BUY ALL PRODUCTS</button>
            </div>
        </div>
    </div>

{% endblock mainContent %}

