
.Comics {
    margin-top: 30px;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: #fff;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
.Comics > img{
    width: 200rem;
    height: 250px;
}
.Comics > p{
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
}

.Price {
    color: green ;
    font-weight: bold;
}
.PriceDetails p{
    margin: 10px;
    font-size: 18px;
}

.PriceDetails svg {
    margin: 10px;
    width: 25px;
    height: 25px;
}
