.navbar {
    background: linear-gradient(90deg, rgba(94,86,233,1) 0%, rgba(84,84,249,1) 35%, rgba(0,212,255,1) 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#legend {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.bi:hover{
    cursor:pointer;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
  font-style: italic;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}


.custom-search-width {
    width: 400px;
}