{% load static %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock extraHead %}

<nav class="navbar p-4 flex justify-between">
    <a href="{% url 'home' %}" class="logo">Infinity Comics</a>
    
    <form class="max-w-md mx-auto w-300">
        <div class="flex">
            <div class="relative w-full">
                <input type="search" id="location-search" style="width: 400px;" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-white-50 rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-white-700 dark:border-gray-600 dark:placeholder-black-400 dark:text-black dark:focus:border-blue-500" placeholder="O que você deseja..." required />
                
                <!-- Botão de busca -->
                <button type="submit" class="absolute top-0 right-0 h-full p-2.5 text-sm font-medium text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
            </div>
        </div>
    </form>
    
    <div class="flex gap-12 items-center">
        <a class="border-b-2 font-bold bg-app-gray-400 {% if context.situation == 'new' %}border-b-black font-bold{% endif %}" id="new">
            News
        </a>
        
        <a class="border-b-2 font-bold bg-app-gray-400 {% if context.situation == 'promotions' %}border-b-black font-bold{% endif %}" id="pre-made">
            Promotions
        </a>
        
        <a class="border-b-2 font-bold bg-app-gray-400 {% if context.situation == 'categories' %}border-b-black font-bold{% endif %}" id="promotional">
            Categories
        </a>
        
        <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <svg class="absolute w-12 h-12 text-white-400 bg-white -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
        </div>
    </div>
</nav>
